@model IEnumerable<DUBle_Watch.Models.AnimeTracked>

@{
    ViewData["Title"] = "SearchTrackedAnime";
}


    <section class="border backgroud-silver">
        <div class="flex-container anime-top-container justify-content-between">
            <div>
                @Html.ActionLink("Genre", "SortByGenre", new { sortOrder = ViewBag.GenreSortParm }) |
                @Html.ActionLink("Episodes Left", "SortByEpisodesLeft", new { sortOrder = ViewBag.EpisodesLeftSortParm }) |
                @Html.ActionLink("Release Date", "SortByReleaseDate", new { sortOrder = ViewBag.ReleaseDateSortParm })
            </div>
            <div class="flex-end">
                @using (Html.BeginForm("SearchTrackedAnime", "AnimeTracked", FormMethod.Get))
                {
                    @Html.TextBox("Search")

                    <input type="submit" value="Search" />

                }
            </div>
        </div>

        <section class="flex-container">
            @foreach (var item in Model)
            {
            <a asp-action="Details" asp-route-id="@item.AnimeTrackedId">
                <div class="flex-column card">
                    <div class="innerCardContents">
                        <div>
                            <img src="/images/@item.Anime.ImagePath" class="animetDetailImage">
                        </div>
                        <div class="anime-title">
                            @Html.DisplayFor(modelItem => item.Anime.Name)
                        </div>
                        <div class="anime-card-text">
                            @Html.DisplayFor(modelItem => item.TimesCompleted)
                        </div>
                        <div class="anime-card-text">
                            @Html.DisplayFor(modelItem => item.CurrentEpisode)
                        </div>
                        <div class="anime-card-text">
                            @Html.DisplayFor(modelItem => item.Anime.CurrentLastEpisode)
                        </div>
                    </div>
                </div>
            </a>
            }
        </section>
    </section>


