@model IEnumerable<DUBle_Watch.Models.AnimeTracked>

@{
    ViewData["Title"] = "Index";
}


<section class="border backgroud-silver">
    <div class="flex-coontainer-space-between anime-top-container justify-content-between">
        <div>
            @Html.ActionLink("Genre", "SortByGenre", new { sortOrder = ViewBag.GenreSortParm }, new { @class = "padding-sides-20" }) |
            @Html.ActionLink("Episodes Left", "SortByEpisodesLeft", new { sortOrder = ViewBag.EpisodesLeftSortParm }, new { @class = "padding-sides-20" }) |
            @Html.ActionLink("Release Date", "SortByReleaseDate", new { sortOrder = ViewBag.ReleaseDateSortParm }, new { @class = "padding-sides-20" })
        </div>
        <div class="flex-end">
            @using (Html.BeginForm("SearchTrackedAnime", "AnimeTracked", FormMethod.Get))
            {
                @Html.TextBox("Search")

                <input type="submit" value="Search" />

            }
        </div>
    </div>

    <section class="flex-container">
        @foreach (var item in Model)
        {
        <a asp-action="Details" asp-route-id="@item.AnimeTrackedId">
            <div class="flex-column card">
                <div class="innerCardContents">
                    <div>
                        <img src="/images/@item.Anime.ImagePath" class="animetDetailImage">
                    </div>
                    <div class="anime-title">
                        @Html.DisplayFor(modelItem => item.Anime.Name)
                    </div>
                    <div class="anime-card-text">
                        @Html.DisplayFor(modelItem => item.Anime.Genre.Name)
                    </div>
                    <div class="anime-card-text flex-row">
                        <div>
                            Current EP.
                            @Html.DisplayFor(modelItem => item.CurrentEpisode)
                        </div>
                        <div>
                            <form asp-action="IncrementCurrentEpisode" asp-route-id="@item.AnimeTrackedId"><button type="submit" class="btn iconButton"><i class="fas fa-arrow-circle-right"></i></button></form>
                        </div>
                    </div>
                    <div class="anime-card-text">
                        Last Ep.
                        @Html.DisplayFor(modelItem => item.Anime.CurrentLastEpisode)
                    </div>
                </div>
            </div>
        </a>
        }
    </section>
</section>
