@model IEnumerable<DUBle_Watch.Models.Anime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLastEpisode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasAnimeEnded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLastEpisode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimeLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasAnimeEnded)
            </td>
            <td>
                <a asp-action="AddToTracked" asp-route-id="@item.AnimeId">AddToTracked</a>
                <a asp-action="Edit" asp-route-id="@item.AnimeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
